{% extends 'base.html' %}

{% block header %}
    <h1 class="py-3">{% block title %}Добро пожаловать на мой блог!{% endblock %}</h1>
    {% if g.user %}
    <a href="{{ url_for('blog.create') }}" type="submit" class="btn btn-success" class="py-3">Создать запись</a>
    {% endif %}
{% endblock %}


{% block content %}
    {% for post in posts %}
        <article class="post py-3">
            <header>
                <div>
                    <h3>{{ post['title'] }}</h2>
                    <div>Сделано {{ post['username'] }} в {{ post['created'].strftime('%Y-%m-%d') }} </div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                <a href="{{ url_for('blog.update', id=post['id']) }}" type="submit" class="btn btn-secondary" >Редактировать</a>
                {% endif %}
            </header>
            <p class="py-2">{{ post['body'] }}</p>
        </article>
    {% endfor %}
{% endblock %}